@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

*{
    
    margin: 0;
    padding: 0;
    /* max-width: 1440px; */
}

:root {
    --cor-destaque: #982417;
    --cor-texto: #FFF0D1;
    --cor-botao: #FF9C2D;
}

.titulo__banner,
.t__beneficios,
.t__depoimento,
.t__negocio,
.t-modelos {
    font-family: Lekton;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.container__logo{
    
    background-color: var(--cor-destaque);
}
.menu__logo, .menu input{
    display: none;
}

.items , .logo{
    display: flex;
    justify-content: center;
}

.menu__item{
    list-style: none;
} 

.menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 32px;
    color: #FFF0D1;
    font-family: Just Me Again Down Here;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link:hover{
    border-bottom: 8px solid #FFF0D1;

}

/*BANNER*/
.banner{
    background-image: url(../assets/banner_Dsk.png);
    background-size: cover;
    display: flex;
    width: 100%;
    height: 528px;
    padding: 10px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

.banner__txt{
    display: flex;
    width: 589px;
    height: 237px;
    padding: 32px 48px 32px 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.titulo__banner{
    font-family: Lekton;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner__txt p{
    font-family: Inria Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner__txt span{
    color: var(--cor-destaque);
}

.banner__btns{
    display: flex;
    
    
    align-items: center;
    gap: 26px;
}

.btn__1{
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid  #FF9C2D;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn__2{
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px ;
    background: var(--cor-botao);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    
}

/*BENEFICIOS*/
.beneficios{
    background-color: #FFF0D1;
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 16px;
}

.t__beneficios{
    color: var(--cor-destaque);
    padding-left: 16px;
    border-left: 10px solid var(--cor-destaque);
}

.beneficios__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 89px;
    align-self: stretch;
}

.card{
    display: flex;
    width: 300px;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #fff;
}

.card img{
    border: 1px solid var(--cor-botao);
}

.subtitulo__card{
    color: var(--cor-destaque);
    text-align: center;
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card p{
    text-align: center;
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*DEPOIMENTOS*/

.depoimentos{
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    background-color:#000;
}

.t__depoimento{
    color: #fff;
    padding-left: 16px;
    border-left: 10px solid #fff;
}

.franqueado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
    align-self: stretch;
}

.franqueado__txt{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    color: #fff;
    padding: 0px 32px;
    gap: 16px;
}

.franqueado__txt p{
    font-family: Inria Sans;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
}

.franqueado__nome{
    font-family: Lekton;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.small{
    font-family: Inria Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.franqueado__img{
    padding: 32px;
    border: 1px solid #fff;
}

/*NEGOCIO*/
.negocio{

    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 16px;
    
}

.t__negocio{
    color: var(--cor-destaque);
    border-left: 10px solid var(--cor-destaque);
    padding-left: 16px;
    
}

.modelos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}


.t-modelos{
    background-color: var(--cor-destaque);
    padding: 16px 0px;
    justify-content: center;
    text-align: center;
    align-self: stretch;
    margin: 0;
    color: #fff;
   
}

.txt-modelos{
    display: flex;
    align-items: center;
    padding: 16px;
}
.descricao{
    padding-left: 16px;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: square;
}

.descricao li{
    margin-bottom: 16px;
    
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-destaque);
    /* height: 128px; */
    padding: 10px;
    gap: 32px;

}

.contatos{
    display: flex;   
    justify-content: center;
    align-items: center;
    gap: 128px;
   
}

.redes__sociais, .telefone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.txt__contatos{
    color: #FFF0D1;
    font-family: Just Me Again Down Here;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frase{
    color: #FFF0D1;
    font-family: Just Me Again Down Here;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


/*RESPONSIVO*/
@media screen and (max-width:360px){
   
    .container__logo{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 16px;
        gap: 64px;
        height: 90px;
    }

    .menu{
        display: flex;
        align-items: center;
    }
    .menu__link{
        border-top: 1px solid rgb(200, 200, 250);
        width: 100vw;
        padding: 0;
        min-width: 200px;
    }
    .menu__logo{
        display: flex;
        align-items: center;
        justify-content: center;      
    }
    
    .items{
        display: none;
        flex-direction: column;
    }

    /*BANNER*/
    .banner{
        background-size: auto 63%;
        background-repeat: repeat-y;
        background-position: top center;
        padding: 0;     
        display: flex;     
        height: 528px;
        flex-direction: column;
        justify-content: flex-end;
        
    }
    
    .banner__txt{
        background-color: #fff;
        height: 237px;
        padding: 0px 16px;
        flex-direction: column;
        /* word-wrap: break-word; */
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        align-self: stretch;
        width: 360px;
        justify-content: center;
        box-shadow: none;
    
    }

    .titulo__banner{
        max-width: 300px;       
        text-align: right;     
        font-size: 36px;
        line-height: 40px;

    }
    .banner__txt p{
        max-width: 300px;
        text-align: right;
        font-size: 20px; 
    }

    /*BENEFICIOS*/
    .t__beneficios{
        padding-left: 0;
        border-left: none;
        text-align: center;
        font-size: 24px;
    }
    .beneficios__cards{
        flex-direction: column;
    }
    .card{
        padding: 33px 0;
    }
    .card p{
        max-width: 268px;
    }

    /*DEPOIMENTOS*/
    .t__depoimento{
        padding-left: 0;
        border-left: none;
        text-align: center;
        font-size: 24px;
    }
    .franqueado__img{
        display: none;
    }

    /*NEGOCIO*/
    .negocio{
        padding: 16px 0;
    }
    .t__negocio{
        padding-left: 0;
        border-left: none;
        text-align: center;
        font-size: 24px;
    }
    .modelos{
        flex-direction: column;
        width: 360px;

        
    }
    .modelo__card{
        justify-content: center;
        width: 328px;
    }
    .img__bistro{
        content: url(../assets/modeloBistro_Cel.png);/*utilizei para trocar de imagem*/
    }
    
    .img__quiosque{
        content: url(../assets/modeloQuiosque_Cel.png);
    }

    /*FOOTER*/
    footer{
        justify-content: center ;
        align-items: center;
        padding: 10px;
        gap: 32px;
    }
    .contatos{
        flex-direction: column;
        gap:16px
    }
    .redes__sociais , .telefone{
        font-size: 20px;
        gap:8px;
    }
    .frase{
        font-size: 16px;
    }

}